body {
  background-color:bisque;
}

.form {
  display: flex;
  
  align-items: center;

}

h1 {
  text-align:center;
}

.container {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;

}

button {
  background-color: #e0c9b3;
  border-radius: 5px;
  font-family: fantasy;
  font-weight: 100;
}

.events {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 30px;
 
}

input {
  background-color: #eadbcc;
  border-radius: 5px;
  border:2px solid black;
  margin: 5px;
  padding-top: 5px;
}

.eventsholder {
  border-radius: 3px;
  border: 5px solid #5a2d00;
 margin-bottom: 10px;
 padding: 20px 20px 300px 20px ;
}

.events {
  display: flex;
  gap: 1rem;

}

.two {
  display: flex;
  gap :10rem;
  justify-content: space-between;
  justify-content: center;
  padding-top: 5rem; ;
}


